@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&family=Play:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
}

p {
  line-height: 1em;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --nova-cut: "Nova Cut", serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Play", serif;
  user-select: none;
}

html.lenis,
html.lenis body {
  height: auto;
  font-size: 1.1111111111vw;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
